    .img1 {
        position: relative;
        width: 100%;
    }
    
    .text {
        position: absolute;
        bottom: 20%;
        left: 50%;
        top: 10%;
        text-align: center;
        color: #023782;
        text-shadow: #f4f4f4;
        right: 10%;
    }
    
    .text h1 {
        font-size: 80px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }